<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=192.168.1.12; Initial Catalog=RetrieveSecurity; Integrated Security=SSPI; "/>
    <add key="DatabaseType" value="1"/>
    <!--<add key="SqlCheckUserNameAndPassword" value="Select UserId from Users Where (UserName=@UserName) and (Password=@Password);"/>-->
    <add key="SqlCheckUserNameAndPassword" value="Select UserId,username,password from Users;"/>
    <add key="UserNameParamName" value="@UserName"/>
    <add key="PasswordParamName" value="@Password"/>
    <add key="ListOfSecurityGroups" value="Select SecurityGroups.SecurityGroupID, SecurityGroups.Name from Users inner join SecurityGroupAssigns on Users.UserId = SecurityGroupAssigns.UserId inner join SecurityGroups on SecurityGroups.SecurityGroupId = SecurityGroupAssigns.SecurityGroupId group by SecurityGroups.SecurityGroupID, SecurityGroups.Name, Users.UserId having Users.UserId=@UserId;"/>
    <add key="ListOfSecurityRights" value="Select SecurityRight.SecurityRightID, SecurityRight.SecurityRight from Users inner join SecurityGroupAssigns on Users.UserId = SecurityGroupAssigns.UserId inner join SecurityRightAssign on SecurityGroupAssigns.SecurityGroupID = SecurityRightAssign.SecurityGroupID inner join SecurityRight on SecurityRightAssign.SecurityRightID = SecurityRight.SecurityRightID group by SecurityRight.SecurityRightID, SecurityRight.SecurityRight, Users.UserId having Users.UserId = 1;"/>
    <add key="UserIdParamName" value="@UserId"/>
    <add key="UserInformation" value="Select UserId,FirstName,LastName,Citizenship from Users where UserId=@UserId"/>
  </appSettings>
</configuration>